@model int

@{
	ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
	<h4>404 Not Found Error</h4>
	<hr />
	<h5>
		Requested ID : @Model can not be found
	</h5>
</div>

<a asp-action="Index" asp-controller="Department" class="btn btn-outline-success">
	Click here to go back to Main Menu
</a>