<partial name="_Notification">

<section id="hero" class="d-flex align-items-center ">
    <div class="ml-5">

    </div>
    <div class="container-fluid hero-container ml-5">
        <h1>
            Welcome to <span style="font-weight:bold;color:deepskyblue;font-style:inherit">Pure</span><span style="font-weight:bolder; color:lawngreen;font-style:italic">Care</span>
        </h1>
        <h2><span style="font-weight:bold"> Your Trusted Partner in Healthcare </span></h2>
        <a href="/Identity/Account/Register" class="btn-get-started scrollto ml-5" style="text-decoration: none;">Get Started</a>
    </div>
</section>

  <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
                    <h1>Why Choose PureCare?</h1>
                    <p>
                        At PureCare, we are dedicated to your well-being. Our commitment to excellence, personalized care,
                        and cutting-edge technology sets us apart. Choose PureCare for a healthier tomorrow</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check"></i> Comprehensive and Compassionate Care</li>
                        <li><i class="bi bi-check"></i> Cutting-Edge Medical Technology</li>
                        <li><i class="bi bi-check"></i> Expert and Caring Healthcare Professionals</li>
                        <li><i class="bi bi-check"></i> Patient-Centered Approach</li>
                        <li><i class="bi bi-check"></i> Commitment to Excellence</li>
                    </ul>
              <div class="text-center">
                <a href="#footer" style="text-decoration:none" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                        <h4>Patient-Centric Care</h4>
                        <p>Our focus is on compassionate and patient-centric care, 
                            ensuring your well-being is our top priority. 
                            We tailor our services to meet your unique needs.</p>
                   </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                       <h4>Quality Assurance</h4>
                        <p>
                            We uphold the highest standards of quality in healthcare.
                            Our commitment to excellence guarantees that you receive the best
                            possible care and outcomes.
                        </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Dedicated Support Team</h4>
                    <p>Experience personalized support from our dedicated team.
                       We are here to guide you through every step of your healthcare
                       journey with empathy and care.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a class="mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Providing Exceptional Healthcare Services</h3>
                <p>At PureCare, we are committed to delivering top-notch healthcare services with a focus
                    on your well-being. Learn more about what sets us apart:</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a>Personalized Care</a></h4>
                 <p class="description">Experience healthcare tailored to your unique needs. Our personalized approach ensures you receive the attention and care you deserve.</p>
                </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a>Patient-Centered Focus</a></h4>
                    <p class="description">We prioritize you. Our patient-centered approach puts your well-being at the forefront, creating a compassionate and supportive healthcare environment.</p>
                </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a>Cutting-Edge Technology</a></h4>
                    <p class="description">Embrace innovation with our use of advanced technology. From diagnostics to treatment, we leverage cutting-edge tools to ensure the best outcomes for you.</p>
                </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter">45</span>
              <p>Doctors</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter">10</span>
              <p>Departments</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter">12</span>
              <p>Research Labs</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter">35</span>
              <p>Awards</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->


