
<div class="contain">

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="~/Images/departments-3.jpg" alt="Image" class="img-fluid rounded shadow-lg">
		</div>
		<div class="col-md-6 contents">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="text-center mt-2 mb-4">
						<h2 style="font-weight:bold">Welcome back</h2>
						<p class="text-muted">Login to your account</p>
					</div>
					<form action="#" method="post">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" placeholder="Enter your username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Enter your password">
						</div>
						<div class="form-check mb-4">
							<input type="checkbox" class="form-check-input" id="rememberMe" checked>
							<label class="form-check-label" for="rememberMe">Remember me</label>
						</div>
						<button type="submit" class="btn btn-block btn-primary">Log In</button>
					</form>
					<div class="text-center mt-4">
						<p class="text-muted">Don't have an account? <a href="#" class="text-primary">Sign up</a></p>
						<a href="#" class="text-muted">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<style>
	.container {
		margin-top: 110px; /* Adjust the value based on the actual height of your navbar */
	}
</style>
