@model PureCareHub_HospitalCare.ViewModels.AppointmentRegistationViewModel

<section id="appointment" class="container section-bg shadow mt-3">
    <div class="section-title mb-2">
        <h2>Make an Appointment</h2>
        <p>
            Ready to prioritize your health? Schedule an appointment below. Your well-being is our focus, and we're here to provide personalized care tailored just for you.
        </p>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <form method="post" asp-action="AdminAppointment">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <input type="hidden" asp-for="PatientId" />

            <div class="row">
                <div class="col-md-4 form-group">
                    <input asp-for="patientFirstname" class="form-control" autocomplete="on" aria-required="true" placeholder="First Name" />
                    <span asp-validation-for="patientFirstname" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2 mt-md-0">
                    <input asp-for="patientLastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Last Name" />
                    <span asp-validation-for="patientLastName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2 mt-md-0">
                    <input asp-for="patientContactNumber" class="form-control" autocomplete="on" aria-required="true" placeholder="Phone Number" />
                    <span asp-validation-for="patientContactNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-2">
                    <label asp-for="AppointmentDate"></label>
                    <input asp-for="AppointmentDate" class="form-control" type="date" aria-required="true" placeholder="appointment date" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label asp-for="SelectedDepartmentId" class="control-label"></label>
                    <select asp-for="SelectedDepartmentId" class="form-select" id="departmentID" asp-items="Model.ListofDepartments">
                        <option disabled selected>Select Departments</option>
                    </select>
                    <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group mt-2">
                    <label asp-for="DoctorId" class="form-label">Select Doctor</label>
                    <select asp-for="DoctorId" class="form-select" id="DoctorId">
                    </select>
                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-2">
                @* <textarea asp-for="AdditionalInfo" class="form-control" name="message" rows="5" placeholder="Additional Infomation related to your appointment (Optional)" ></textarea> *@
                <textarea asp-for="AdditionalInfo" class="form-control" rows="3" placeholder="Additional Infomation related to your appointment (Optional)"></textarea>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
            </div>
        </form>

    </div>
</section>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            getDoctorsByDepartmentType();
        });

        $("#departmentID").change(function () {
            getDoctorsByDepartmentType();
        });

        var getDoctorsByDepartmentType = function () {
            $.ajax({
                url: '@Url.Action("getDoctorsByDepartmentType", "Appointment")',
                type: 'GET',
                data: {
                    DepartmentId: $('#departmentID').val()
                },
                success: function (data) {
                    console.log('Success. Data received:', data);
                    // Clear existing options
                    $('#DoctorId').empty();

                    // Populate the doctor dropdown with the returned data
                    $(data).each(function (index, doctor) {
                        console.log('Adding doctor:', doctor);
                        $('#DoctorId').append('<option value="' + doctor.id + '">Dr ' + doctor.firstName + ' ' + doctor.lastName + '</option>');
                    });

                    // Show the doctor dropdown container
                    $('#doctorDropdownContainer').show();
                },
                error: function (error) {
                    console.log('Error fetching doctors:', error);
                }
            });
        };


    </script>
}

