@model PureCareHub_HospitalCare.ViewModels.AppointmentRegistationViewModel

<section id="appointment" class="container section-bg shadow mt-3">
    <div class="section-title mb-2">
        <h2>Make an Appointment</h2>
        <p>
            Ready to prioritize your health? Schedule an appointment below. Your well-being is our focus, and we're here to provide personalized care tailored just for you.
        </p>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        
        <form  method="post" role="form"  data-aos="fade-up" data-aos-delay="100" asp-action="Index">
            <input type="hidden" asp-for="PatientId" />

            <div class="row">
                <div class="col-md-4 form-group">
                    <input asp-for="patientFirstname" class="form-control" autocomplete="on" aria-required="true" placeholder="First Name" />
                    <span asp-validation-for="patientFirstname" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2 mt-md-0">
                    <input asp-for="patientLastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Last Name" />
                    <span asp-validation-for="patientLastName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2 mt-md-0">
                    <input asp-for="patientContactNumber" class="form-control" autocomplete="on" aria-required="true" placeholder="Phone Number" />
                    <span asp-validation-for="patientContactNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-2">
                <label asp-for="AppointmentDate"></label>
                    <input asp-for="AppointmentDate" class="form-control" type="date" aria-required="true" placeholder="appointment date" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label for="DepartmentId" class="form-label">Select Department</label>
                    <select  class="form-select" id="departmentID" asp-items="Model.DepartmentsList">
                        <option disabled selected>--Select Department---</option>
                    </select>
                    @* <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span> *@
                </div>

                <div class="col-md-4 form-group mt-2">
                    <label asp-for="DoctorId" class="form-label">Select Doctor</label>
                    <select asp-for="DoctorId" class="form-select" id="DoctorId"></select>
                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-2">
                @* <textarea asp-for="AdditionalInfo" class="form-control" name="message" rows="5" placeholder="Additional Infomation related to your appointment (Optional)" ></textarea> *@
                <textarea asp-for="AdditionalInfo" class="form-control" rows="3" placeholder="Additional Infomation related to your appointment (Optional)"></textarea>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
            </div>
                    <div asp-asp-validation-summary="ALL" class="text-danger"></div>
        </form>

    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            getDoctorsByDepartmentType();
        });

        $("#departmentID").change(function () {
            getDoctorsByDepartmentType();
        });

        var getDoctorsByDepartmentType = function () {
            $.ajax({
                url: '@Url.Action("getDoctorsByDepartmentType", "Appointment")',
                type: 'GET',
                data: {
                    DepartmentId: $('#departmentID').val()
                },
                success: function (data) {
                    console.log('Success. Data received:', data);

                    // Clear existing options
                    $('#DoctorId').empty();

                    // Populate the doctor dropdown with the returned data
                    $(data).each(function (index, doctor) {
                        console.log('Adding doctor:', doctor);
                        $('#DoctorId').append('<option value="' + doctor.id + '">Dr ' + doctor.firstName + ' ' + doctor.lastName + '</option>');
                    });

                    // Show the doctor dropdown container
                    $('#doctorDropdownContainer').show();
                },
                error: function (error) {
                    console.log('Error fetching doctors:', error);
                }
            });
        };

    </script>
}

@* <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment form</h3>
            </div>
            <form action="" method="post">
                <input type="hidden" asp-for="PatientId" />
                <div class="row g-3">
                    <div class="col-md-6">
                        <label asp-for="patientFirstname">First Name</label>
                        <input asp-for="patientFirstname" class="form-control" autocomplete="on" aria-required="true" placeholder="First Name" />
                        <span asp-validation-for="patientFirstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="patientLastName">Last Name</label>
                        <input asp-for="patientLastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Last Name" />
                        <span asp-validation-for="patientLastName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="patientContactNumber">Phone number</label>
                        <input asp-for="patientContactNumber" class="form-control" autocomplete="on" aria-required="true" placeholder="Phone Number" />
                        <span asp-validation-for="patientContactNumber" class="text-danger"></span>
                    </div>
                  
                    <div class="col-md-6">
                        <label asp-for="AppointmentDate"></label>
                        <div>
                            <input asp-for="AppointmentDate" class="form-control" type="date" />
                            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <div class="col-12">
                        <label for="SelectedDoctorId" class="form-label">Select Doctor</label>
                        @Html.DropDownListFor(model => model.DoctorId, new SelectList(Model.Doctors, "Id", "FirstName"), "Select Doctor", new { @class = "form-select" })
                        <span asp-validation-for="DoctorId" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <textarea asp-for="AdditionalInfo" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                        <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> *@
